#main {
  section#content, footer .container {
    @include outer-container;
  }
}

#content {
  hr:last-child {
    visibility: hidden;
  }
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

.large-column {
  @include span-columns(8 of 12);
}

.small-column {
  @include span-columns(4 of 12);
}

article {
  .heading {
    time {
      display: block;
      color: gray;
      font-size: 1rem;
    }
  }

  .read-more {
    text-align: right;

    a {
      display: block-inline;
      font-family: $heading-font-family;
      font-size: 0.8em;
      font-weight: 700;
      margin-right: 1em;
      position: relative;
      text-transform: uppercase;

      span {
        font-family: $base-font-family;
        font-size: 1.5em;
        font-style: normal;
        position: absolute;
        right: -9px;
        top: -7px;
      }
    }
  }
}

p
{
  margin-bottom: 1.5em;
}

p, li {
  font-weight: 300;
}

hr {
  position: relative;
  height: 1px;
  border: none;
  margin: 3em 0;
}

hr:before,
hr:after {
  position: absolute;
  margin-top: -2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  content: "";
}

hr:before { left: 0; }
hr:after  { right: 0; }

/* default color */
hr, hr:before, hr:after {
  background-color: $secondary-color;
}
