nav {
  background-color: tint($light-gray, 75%);
  border-bottom: 3px solid $secondary-border-color;
  margin-bottom: em(50);
  padding-top: em(50);
  text-align: center;

  ul {
    display: inline-block;
    margin-bottom: em(30);
  }

  .blog-title {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    font-weight: bold;

    span {
      letter-spacing: -0.11em;
    }
  }

  .caption {
    display: block;
    color: $medium-gray;
    font-family: $heading-font-family;
    font-size: 1.2em;
  }
}
